$primary-color: rgb(7, 7, 26);
$primary-color1: rgb(40,161,216);
$primary-color2: rgb(36,139,199);
$primary-color3: rgb(30,57,85);
$primary-color4: rgb(47,81,50);
$primary-color5: rgb(65,104,40);
$primary-color6: rgb(126,170,41);
$primary-color7:  rgb(220,189,66) ;
$primary-color8:  rgb(220,173,39) ;
$primary-color9:  rgb(227,154,35) ;
$primary-color10:  rgb(204,85,76) ;
$primary-color11:  rgb(167,40,52) ;
$primary-color12: rgb(115,86,117);
$primary-color13: rgb(59,49,91);
$white: #ffff;
